### How Python Flows?

+ High Level Python Code ---> Interpreter ----> Machine Language

# 1. Variables

In [2]:
# Binding
myFirstVariable = 1
mySecondVariable = 'Test'

type(myFirstVariable), type(mySecondVariable)

(int, str)

In [5]:
myFirstVariable , mySecondVariable = 3, 4.2
myFirstVariable, mySecondVariable

(3, 4.2)

In [6]:
MyFirstString = 'test'
MyFirstString = "test"
MyFirstString = '''test'''  #MultiLine String

In [7]:
# F Strings:

In [12]:
fStringOne = f'Variable is {myFirstVariable} and string is {MyFirstString}'
fStringOne

'Variable is 3 and string is test'

In [13]:
fStringOne.split()

['Variable', 'is', '3', 'and', 'string', 'is', 'test']

In [14]:
list(fStringOne)

['V',
 'a',
 'r',
 'i',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'i',
 's',
 ' ',
 '3',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'i',
 's',
 ' ',
 't',
 'e',
 's',
 't']

In [8]:
a = 1
b = a
a, b

(1, 1)

In [9]:
a = 2
a , b

(2, 1)

In [10]:
del(a)

In [ ]:
print(fStringOne)

In [16]:
test = True
def some_function():
    global test
    test = False # variable with local scope

some_function()
print(test) # value of variable is changed

False

In [17]:
type(test)

bool

In [18]:
1//3, 1*10, 2**2, 2-2, 2+2, 10/5

(0, 10, 4, 0, 4, 2.0)

In [20]:
7%2

1

In [21]:
'A' + 'B'

'AB'

In [22]:
"a"*3

'aaa'

In [25]:
fStringOne

'Variable is 3 and string is test'

In [24]:
x = fStringOne[-2:]
x

'st'

In [26]:
len(fStringOne)

32

In [27]:
fStringOne.find('r')

2

# TypeCasting:

In [29]:
int('5')

5

In [30]:
# Sets

firstSet = {2,5,1,6,3,22,-3,5}
firstSet

{-3, 1, 2, 3, 5, 6, 22}

In [ ]:
firstSet.

# Explore all Set Operations nd print in a neat way

# Ternary Operator
[IF True] if [Expression] Else [IF False]

In [32]:
val = True if test else False

In [33]:
val

False

# Expressions:
* Equality ==
* Not Equal !=
* Comparison >,<,>=,=<

# Functions:

In [39]:
def my_new_func(x, flag = True):
    '''
    This is a doctstring. It givea info about the funtion.
    This funcn prints stuff
    
    Arguments:
    x: Object to be printed
    '''
    if flag: 
        print(f'test print{x}')
    else:
        print('Flag is set to False')
    
#my_new_func('a')

In [40]:
len('hello')

5

In [41]:
my_new_func('test')

test printtest

In [43]:
def new_func(a, b):
    if b==0:
        return 'Invalid iput for b'
    else:
        return a/b
    
new_func(1, 1)

1.0

In [45]:
def new_func_2(a, b):
    try:
        c = a/b
    except Exception as e:
        print(e)
        print('Value of b cannot be zero')
    
new_func_2(1, 0)
new_func_2(1, 1)

division by zero
Value of b cannot be zero

In [50]:
def new_funcn(*args, **kwargs):
    print(args)
    print(kwargs)
    print(args[0])
    print(kwargs.get('a'))

In [51]:
alpha = 'alpha'
beta = 'beta'
new_funcn(alpha, beta, a=1, b=2)

('alpha', 'beta')
{'a': 1, 'b': 2}
alpha
1

In [52]:
def new_funcn1(a,b):
    return a,b

x,y = new_funcn1(2,3)
x,y

(2, 3)

# Lambda Expressions

### format = variable = lambda arguments : expresion

* Single expression anonymous function
* inline function

In [53]:
my_lambda = lambda x,y,z : (x - 100 + y -z)*2**3
my_lambda(100,2,3)

-8

# Loops and Conditions:

In [54]:
input1 = 10
while input1>0:
    print(input1)
    input1 -= 1

10
9
8
7
6
5
4
3
2
1

In [55]:
for i in 'dghvhsg':
    print(i)

d
g
h
v
h
s
g

In [56]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n* factorial(n-1)

In [57]:
factorial(5)

120

# Homework recursive for fibonacci

# Collections
* lists, tuples, dictionaries

In [59]:
my_list = ['A', 'B', 1, 2.5]
my_tuple = ('f', 'm', 1, 7)

In [62]:
my_dict = {'a': 1, 'b': 2}
my_dict['a']

1

In [63]:
my_list_2 = []
my_list_2.append(2)
my_list_2.extend(['A', 'B', 1, 2.5])

my_list_3 = list(('A', 'B',1 , 2.5))# convert tuple/set to list

my_list_2, my_list_3

([2, 'A', 'B', 1, 2.5], ['A', 'B', 1, 2.5])

In [65]:
my_dict_2 = dict()
my_dict_2['test'] = 4
my_dict_2['test2'] = 5
my_dict_2['test3'] = 6
my_dict_2

{'test': 4, 'test2': 5, 'test3': 6}

In [66]:
for key in my_dict_2:
    print(key, my_dict_2[key])

test 4
test2 5
test3 6

In [67]:
# Loop Over 
list1 = [1, 2, 3, 4, 5]
list2 = [0,9,8,7,6]

In [70]:
# get index in loop:
for x,y in enumerate(list1):
    print(x,y)

0 1
1 2
2 3
3 4
4 5

## Object Oriented Design - Classes

In [76]:
class MyClass:
    def __init__(self, x):
        self.x = x
        
    def MyClassFunction(self):
        return self.x

m = MyClass(10)
m.MyClassFunction()

10

In [77]:
a, b = 5,6
c = [a,b]
print(c)
a, b = 5,7
print(c)

[5, 6]
[5, 6]

# Read/ Write

In [80]:
test = input()

hwfkwgvbcnmmmmmmmmmmmmmmmmmmmmv

In [83]:
with open('test_file.txt', 'w') as my_file:
    my_file.write(test)

In [ ]:
with open('test_file.txt', 'r') as my_file:
    for line in my_file:
        print(line)